.main-homesection {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}

html {
  scroll-behavior: smooth;
}

.Navsection {
  position: fixed;
  width: 100%;
}

.homeVideo {
  position: relative;
  overflow: hidden;
  position: fixed;
  top: 9%;
  left: 0%;
  width: 100%;
}

/* Start of parallax */

/* Animation for landing page Start --------------------------------------------> */

.main-homesection .fixed {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
}

.main-homesection .fixed:hover {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy;
}

.main-homesection .fixed2 {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
}

.main-homesection .fixed2:hover {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy2;
}

.main-homesection .fixed3 {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
}

.main-homesection .fixed3:hover {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy3;
}

.main-homesection .fixed4 {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
}

.main-homesection .fixed4:hover {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy4;
}

.main-homesection .fixed5 {
  overflow: hidden;
  position: fixed;
  top: 20%;
  left: 0%;
  width: 100%;
}

.main-homesection .fixed5:hover {
  overflow: hidden;
  position: fixed;
  top: 20%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy5;
}

.main-homesection .fixed6 {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
}
.main-homesection .fixed6:hover {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy6;
}

.main-homesection .fixed7 {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
}
.main-homesection .fixed7:hover {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy7;
}

.main-homesection .fixed8 {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
}
.main-homesection .fixed8:hover {
  overflow: hidden;
  position: fixed;
  top: 3%;
  left: 0%;
  width: 100%;
  animation: 1s ease-in-out 0s 1 running bouncy8;
}

.main-homesection:nth-child(1) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 0vh;
  z-index: 1;
}
.main-homesection:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 100vh;
  z-index: 2;
}
.main-homesection:nth-child(3) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 200vh;
  z-index: 3;
}

.main-homesection:nth-child(4) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 300vh;
  z-index: 4;
}

.main-homesection:nth-child(5) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 400vh;
  z-index: 5;
}

.main-homesection:nth-child(6) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 500vh;
  z-index: 6;
}

.main-homesection:nth-child(7) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 600vh;
  z-index: 7;
}

.main-homesection:nth-child(8) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 700vh;
  z-index: 8;
}

/* to add extra page in landing page ---------------------> */
.main-homesection:nth-child(9) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 800vh;
  z-index: 8;
}
.main-homesection:nth-child(10) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 900vh;
  z-index: 8;
}
.main-homesection:nth-child(11) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 1000vh;
  z-index: 8;
}
/* <-------------------------------------------------------- */

@keyframes bouncy {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bouncy2 {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bouncy3 {
  0% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bouncy4 {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bouncy5 {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bouncy6 {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bouncy7 {
  0% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* <-------------------------------------------- Animation  End */

/* Without animation landing page start -------------------------------> */

/* .main-homesection .fixed {
  overflow: hidden;
  position: fixed;
  top: 53%;
  left: 50%;
  width: 100%;
}

.main-homesection:nth-child(1) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 0vh;
  z-index: 1;
}

.main-homesection:nth-child(1) .fixed {
  transform: translate(0%, 0%);
}

.main-homesection:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 100vh;
  z-index: 2;
}

.main-homesection:nth-child(2) .fixed {
  transform: translate(-50%, -50%);
}
.main-homesection:nth-child(3) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 200vh;
  z-index: 3;
}

.main-homesection:nth-child(3) .fixed {
  transform: translate(-50%, -50%);
}

.main-homesection:nth-child(4) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 300vh;
  z-index: 4;
}

.main-homesection:nth-child(4) .fixed {
  transform: translate(-50%, -50%);
}

.main-homesection:nth-child(5) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 400vh;
  z-index: 5;
}

.main-homesection:nth-child(5) .fixed {
  transform: translate(-50%, -50%);
}

.main-homesection:nth-child(6) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 500vh;
  z-index: 6;
}

.main-homesection:nth-child(6) .fixed {
  transform: translate(-50%, -50%);
}

.main-homesection:nth-child(7) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 600vh;
  z-index: 7;
}

.main-homesection:nth-child(7) .fixed {
  transform: translate(-50%, -50%);
} 

.main-homesection:nth-child(8) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  top: 700vh;
  z-index: 8;
}

.main-homesection:nth-child(8) .fixed {
  transform: translate(-50%, -50%);
}
*/

/* <----------------------------------  usefull end*/

/* end of parallax */

.homesection2 {
  margin-left: 7%;
}
.teampolygon {
  width: 100%;
  height: 520px;
  background-image: url("../../../public/Images/gobeyond/OuterPolygonPath.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.user1 {
  position: absolute;
  top: 10%;
}

.tooltip {
  position: relative;
  cursor: pointer;
  width: 77px;
}

.tooltip .tooltip-hover {
  display: none;
  width: 230px;
  background: #fff;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: -240px;
  border-radius: 10px;
  padding: 20px 20px;
}

.tooltip:hover .tooltip-hover {
  display: block;
}

.tooltip:hover .tooltip-hover h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.tooltip:hover .tooltip-hover svg {
  fill: #fff;
  font-size: 30px;
}
.tooltip:hover .tooltip-hover svg path {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
}
.tooltip:hover .tooltip-hover small {
  font-size: 12px;
}
.tooltip .tooltip-hover.bluecolor {
  background-color: #d8f6ff;
  border-color: #d8f6ff !important;
  color: #3ad1ff;
}
.tooltip .tooltip-hover:before {
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  z-index: 2;
  position: absolute;
  left: -20px;
  transform: translateY(-50%);
}
.tooltip .tooltip-hover.bluecolor:before {
  border-bottom: 26px solid #d8f6ff;
  border-left: 31px solid transparent;
}
.user2 {
  top: 50%;
}
.tooltip .tooltip-hover.orangcolor {
  background-color: #ffdcd6;
  border-color: #ffdcd6 !important;
  color: #ff6045;
}
.tooltip .tooltip-hover.orangcolor:before {
  border-bottom: 26px solid #ffdcd6;
  border-left: 31px solid transparent;
}

.user3 {
  top: 62%;
  left: 45%;
}
.tooltip .tooltip-hover.yellow {
  background-color: #fff7dc;
  border-color: #fff7dc !important;
  color: #fdba3c;
}
.tooltip .tooltip-hover.yellow:before {
  border-bottom: 26px solid #fff7dc;
  border-left: 31px solid transparent;
}

.user4 {
  top: -27%;
  right: -60%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}

.webdev {
  display: flex;
  margin-left: 5rem;
}

/* productpage css start ------------------------> */

.opHeadnigs {
  background-color: #5789db;
  margin-bottom: 3%;
  margin-top: 3%;
  padding-left: 44%;
  padding-top: 1.4%;
  padding-bottom: 1.4%;
}

.opHeadnigs h1 {
  color: #fff;
}

.opLeftSec {
  font-weight: 700;
  width: 458px;
  height: 60px;
}

.productpg {
  padding-top: 1rem;
}

.visitbtn {
  background-color: #0466c8;
  color: #fff;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 5px 15px 5px 15px;
}

.subbu {
  margin-top: 13rem;
}

.jay {
  margin-top: 7rem;
  align-items: center;
  justify-content: center;
}

.totalMain {
  display: flex;
  justify-content: space-around;
  /* margin-left: 15rem; */
}

.rightContainer {
  margin-left: 2%;
}

.totalMain2 {
  display: flex;
  justify-content: space-around;
  /* margin-left: 15rem; */
  margin-top: 10%;
  margin-bottom: 10%;
}

.Leftcontainer h2 {
  background-image: url("../../../public/Images/gobeyond/occult-image.png");
  background-position: center;
}

.Leftcontainer .occult {
  background-color: #2563ac;
  border-radius: 80px;
  padding: 10px;
  height: 49px;
  width: 299px;
}
/* <--------------------------- productpage css end*/

/* Culturepage css start ------------------------> */

.CultureHeadnig {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.CultureHeadnig img {
  width: 100%;
}

.CultureHeadnig h1 {
  background-color: #000;
  color: white;
  opacity: 0.35;
  width: 100%;
  align-items: center;
  padding-top: 1.49%;
  padding-bottom: 1.49%;
  position: absolute;
}

.culturepg {
  align-items: center;
  padding-top: 1rem;
  text-align: center;
}

.opHeadnigs h1 {
  color: #fff;
}

.opLeftSec {
  font-weight: 700;
  width: 458px;
  height: 60px;
}

.productpg {
  padding-top: 1rem;
}

.visitbtn {
  background-color: #0466c8;
  color: #fff;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 5px 15px 5px 15px;
}

.subbu {
  margin-top: 13rem;
}

.jay {
  margin-top: 7rem;
  align-items: center;
  justify-content: center;
}

.Culturefirstdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightContainer {
  margin-left: 2%;
}

.totalMain2 {
  display: flex;
  justify-content: space-around;
  /* margin-left: 15rem; */
  margin-top: 10%;
  margin-bottom: 10%;
}

.Leftcontainer h2 {
  background-image: url("../../../public/Images/gobeyond/occult-image.png");
  background-position: center;
}

.mission {
  width: 100%;
}
.vision {
  width: 100%;
}
.ImagesTour {
  display: flex;
  margin-bottom: 6rem;
}
.ImagesTour img {
  width: 100%;
}
.Lastcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.topcontain {
  display: flex;
  gap: 20px;
  text-align: center;
}

/* <--------------------------- Culturepage css end*/

/* --- Vertical Links start --- */
.vertical-Links {
  position: fixed;
  top: 55%;
  /* left: 20px; */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 999;
  width: 90px;
}
.vertical-Links a {
  position: relative;
  list-style: none;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: block;
}
.vertical-Links a span {
  display: block;
  color: #f38313;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  padding-top: 5px;
  font-size: 11px;
}
.vertical-Links a span:hover {
  opacity: 1;
}
.vertical-Links a::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  opacity: 1;
  background-color: #2563ac;
  transition: all 0.3s ease-in-out;
}
.vertical-Links .current a {
  color: #0466c8;
  margin-bottom: 15px;
}
.vertical-Links .current a span {
  opacity: 1;
}

.vertical-Links .current a::before {
  width: 60px;
  height: 4px;
}

/* darkLink */

.vertical-Links .darkLink a::before {
  background-color: #000;
}

/* --- Vertical Links end --- */
